@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;}

/*Class*/

.fa {
    padding: 5px; 
    font-size: 20 px;
    width: 115px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
.fa:hover {
      opacity: 0.7;
  }
  
.fa-facebook {
    text-align: left;
    background: #3a589a;
    color: white;
  }
  
.fa-twitter {
    text-align: left;
    background: #20a8e4;
    color: white;
  }
.header-img {
  background-color:#3f495a;
  height: 55px;
}
.img-gop {
  background-color: #e6e6e6;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}
h2 {
  padding-top: 2rem;
  text-align: center;
  justify-content: center;
  width: 100%;
}
h6 {
  text-align: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.mini-project {
  background-color: #e6e6e6;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  padding-bottom: 10rem;
}

.main-page {
  background-color: #3f495a;
  display: flex;
  justify-content: center;
  width: 100%;
}

.quiz {
  background-color: rgb(255, 255, 255);
}
.selection {
  display: flex;
  margin-bottom: 10px;

}
/* .selection-img {
  width:100%;
} */
.selection-img.pen {
  margin-right: 20px;
}
.selection-img.clock {
  margin-left:20px;
}

.select-img {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.btn-img {
  border: 1px solid #ccc;
}
.form-check-input,.form-check-input[type=checkbox] {
  border-radius: 0;
  border: 2px solid #213875;
  cursor: pointer;
}
.h-check-box {
  border: 1px solid #ccc;
  border-top: none;
}
.h-check-box:hover {
  background-color: #213875;
  color: #ffffff;
}
.h-check-box:hover .form-check .form-check-input {
  background-color: #213875;
  border-color: #ffffff;
}
.h-checked {
  background-color: #213875;
  color: #ffffff;
}
.h-checked .form-check .form-check-input {
  border-color: #ffffff;
}
.h-checked .form-check .form-check-input:checked {
  background-color: #213875;
}



.desc {
  padding-left: 4px;
  padding-top: 5px;
}
.input-img {
  width: 100%;
}

/* .button-choice{
  display: flex;
} */
.btn-animal {
  width: 100%;
}
.btn-animal.horse {
  margin-right: 20px;
}
.btn-animal.cat {
  margin-left: 20px;
}
.btn-choice {
  width:100%;
  height: 50px;
  background: none;
  border: 1px solid #e6e6e6;
  color: #213875;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
  border-top: 5px solid #d91f2e;
  margin-bottom: 10px;
}

.btn-choice:hover {
  background: none;
  border: 1px solid #e6e6e6;
  color: #ffffff;
  font-size: 15px;
  background: #213875;
  border-radius: 3px;
  cursor: pointer;
  border-top: 5px solid #d91f2e;
}


.btn-choice-non-select {
  width:100%;
  height: 50px;
  background: none;
  border: 1px solid #e6e6e6;
  font-size: 15px;
  background: #ddddd;
  border-radius: 3px;
  cursor: pointer;
  border-top: 5px solid #d91f2e;
  margin-bottom: 10px;
}



.h-option {
  text-align: left;
  background-color: #e6e6e6;
  border-radius: 3px;
  margin: 7px 0;
  width: 100%;
  font-size: 15px;
  border-left: 10px solid #d91f2e;
  color: #213875;
}

.h-option:hover {
  text-align: left;
  background-color: #213875;
  border-radius: 3px;
  margin: 7px 0;
  width: 100%;
  font-size: 15px;
  border-left: 10px solid #d91f2e;
  color: #ffffff;
}
.h-option:focus {
  background: #213875;
  color: white
}

.selected {
  background: #213875!important;
  color: white!important;
}

.message {
  padding: 10px 50px 10px 10px;
  margin: 0px;
  font-size: 16px;
}

.quiz-header {
  padding-top: 3rem;
  font-size: 20px;
}

#msg1,#msg2,#msg3,#msg4,#msg5,#msg6,#msg7 {
  display: none;
  border: 1px solid #ccc;
  margin: 3rem auto;
}
#share {
  font-size: 12px;
  margin: 10px 10px 5px 0px;
}
#sbButton {
  background: #213875;
  color: white;
  justify-content: space-around;
  border-radius: 3px;
  font-size: 12px;
}
#reload {
  background: #d71f2d;
  color: white;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#reload-btn {
  text-align: center;
}
#user-name {
  font-size: 30px;
}

#fbButton {
  margin-left: 0px;
  padding-left: 5px;
}
#twButton {
  margin-left: 7px;
  padding-left: 5px;

}
@media (min-width: 1200px){
  .quiz {
    width: 50%;
  }
}
  
}